.Jumbotron2{
  /* background-image: linear-gradient(to bottom right,  #65ad9a,  #c7d8c7); */
background-image: url("https://i.imgur.com/6ejq2bN.png");
background-repeat: no-repeat;
background-position: center;
height: 400px;
background-color: transparent;
margin-top: 70px;


}

