#root >  nav > a{
color: grey;
font-family: 'Source Code Pro', monospace;
/* text-shadow: 0.5px 0.5px 0.5px black; */
font-size: 25px;
}

.Button{
  border-radius: 7px;
  background-image: linear-gradient(to bottom right, rgb(96, 247, 96), rgb(33, 200, 212));
  border: none;
  font-family: 'Source Code Pro', monospace;
  box-shadow: 1px  black;
}

.NavKeyLogin{
  color: grey;
font-family: 'Source Code Pro', monospace;
}

/* .Nav.navbar-nav{

} */

#root > nav{
  background-image: transparent;
}

