
h3{
  /* padding-top: 90px; */
  color: grey;
  text-align: center;
  /* font-family: 'Source Code Pro', monospace; */
  font-family: 'Staatliches', cursive;
}

.CardHeader4, .CardHeader5, .CardHeader6{
  /* background-image: linear-gradient(to bottom right,  #5f90f6, #a5aff6 ); */
text-align: center;




}

div.accordion > div.card{
  border:none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 45px !important ;
}

div.CardHeader4.fluid.card-header, div.CardHeader5.fluid.card-header, div.CardHeader6.fluid.card-header {
  /* border:0.07px solid black; */
  /* border-radius: 45px; */
  
}

.Button00, .Button11, .Button33{
  color: #7fbbe5;
  font-family: 'Staatliches', cursive;
  font-size: 24px;
  text-shadow: 2px 2px 5px grey;
}