.CardRes{
  width: 70%;
  margin-left: 185px;
}

.HeaderRes{
  text-align: center;
  text-align:center;
  color: grey;
  /* font-family: 'Source Code Pro', monospace; */
  font-family: 'Staatliches', cursive;
}