.modal-title {
  font-family: "Staatliches", cursive;
  color: white;
  background-color: #2e2e33;
}

div.modal-content {
  background-color: #2e2e33;
}

h5.text-center {
  color: gold;
  font-family: "Source Code Pro", monospace;
}

.XButton {
  color: white;
}

.Username {
  color: white;
  font-family: "Source Code Pro", monospace;
}

.Password {
  color: white;
  font-family: "Source Code Pro", monospace;
}
.login-btn {
  color: #00ffd1;
  background-color: #2e2e33;
  border-color: #00ffd1;
}

.login-btn:hover {
  color: fuchsia;
  background-color: #2e2e33;
  border-color: #00ffd1;
}
