/* .Card{
  text-align: center;
  background-color: transparent;

}

.Card.Header{
  background-color: transparent;
} */

h2{
  text-align:center;
  color: grey;
  /* font-family: 'Source Code Pro', monospace; */
  font-family: 'Staatliches', cursive;
  padding-bottom: 70px;
  /* margin-left: -154px; */
}

a:hover {
  background-color: aquamarine;
  background-blend-mode: luminosity;
}

.Icon1,.Icon2,.Icon3,.Icon4{
  width:70px;
  height:70px;
 
}
